.chat-section{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-section{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.info-section a{
    text-decoration: none;
    color: #FF705B;
    font-size: 20px;
    font-weight: bold;
}
.chat-container{
    display: flex;
}