.homeContent h1{   
    color: #121e27;
    font-size: 2.5rem;
}
.homeContent{
    width: 80%;
    margin: auto;
    padding: 5% 0;
}
#skill{
    margin-bottom: 3%;
}
#skill ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
#skill ul > li{
    color: #fff;
    list-style: none;
    background-color: rgb(18, 30, 39);
    padding: 10px;
    border-radius: 10px;
    
}
#skill ul > li:hover{
    font-size: 0;
    background-color: var(--color-primary);
    transition: 0.5s;
    
}
#skill ul > li:hover::after{
    content: attr(data-hover);
    font-size: 16px;
    
}
#skillsContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 10%;
}
#content{
    flex: 1;

}
#content p{
    line-height: 2em;
    margin-bottom: 3%;
    text-align: justify;
}
.button{
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--color-primary);
    padding: 10px 20px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

